.DS_Store
.idea
*.log
tmp/
*.o
*.a
*.so
a.out
vgcore.*
build/*
*~
#*#
.vscode/*
*.gcda
*.gcno
unit_tests
*.sh
.settings
moc_*
*.conf
compile_commands.json
web/node_modules/*
qtEngine
settings.ini
layouts.ini
